// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$card-border-radius: 0.35rem;

$theme-colors: (
        'nsca-approved': #D81B60,
        'nsca-assigned': #FDD835,
        'nsca-not-participating': #E53935,
        'nsca-participating': #43A047,
        'nsca-pending': #5E35B1,
        'nsca-rejected': #757575,
        'nsca-reserved': #039BE5,
);
