// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'utilities/utilities';
@import 'components/components';

body {
    background-color: #ebebeb;
    color: #424c54;
}

[v-cloak] {
    display: none;
}

.table-loader {
    background-color: rgba(52, 144, 220, 0.6);
    z-index: 999;
}
