.nsca-card {
    box-shadow: 0 2px 3px rgba(0,0,0,.16);
    border: 0 solid rgba(0,0,0,.125);
    //border-radius: .35rem;
    background-color: #fafafa;

    > div {
       &:first-child {
           border-radius: $card-border-radius $card-border-radius 0 0;
       }
    }

    &__table {
        .card-body {
            padding: 0;
        }
    }

    .card-header {
        background-color: white;
        border-bottom: 0 solid rgba(0,0,0,.125);
    }
}
