.pill-container {
    display: flex;
    flex-wrap: wrap;
}

.pill-item {
    background: #ebebeb;
    border-radius: 1rem;
    color: black;
    padding: 0.25rem 0.75rem;
    margin-right: 0.25rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:last-child {
        margin-right: 0;
    }

    &__content {
        padding-right: 0.5rem;
    }

    &__close {
        background-color: #686868;
        color: #ebebeb;
        border-radius: 50%;
        height: 1rem;
        width: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #494949;
        }
    }
}
