.side-nav {
    &__item {
        &:not(:first-child) {
            margin-top: 0.75rem;
        }

        a {
            @extend .text-decoration-none;

            color: #8ca1b2;
            transition: color 0.2s ease;

            &:hover {
                color: #3490dc;
            }

            &.active {
                color: #3490dc;
            }
        }

        i {
            font-size: 1.2rem;
        }
    }

    &__item-text {
        font-size: 1.2rem;
    }
}
