.table-nsca {
    margin-bottom: 0;

    &.table-hover {
        tbody {
            tr {
                transition: background-color 0.1s ease;

                &:hover {
                    background-color: rgba(52, 144, 220, 0.2);
                }
            }
        }
    }

    thead {
        th {
            border-top: none;
            background-color: #ebeced;
            border-bottom: none;

            &:first-child {
                padding-left: 1.25rem;
            }

            &:last-child {
                padding-right: 1.25rem;
            }
        }
    }

    tbody {
        tr {
            &:first-child {
                td {
                    border-top: none;
                }
            }

            td {
                &:first-child {
                    padding-left: 1.25rem;
                }

                &:last-child {
                    padding-right: 1.25rem;
                }
            }
        }
    }

    tfoot {
        .pagination {
            margin-bottom: 0;
        }
    }
}

.table {
    &--no-header {
        thead {
            th {
                &:first-child {
                    border-radius: 0.35rem 0 0 0;
                }

                &:last-child {
                    border-radius: 0 0.35rem 0 0;
                }
            }
        }
    }
}
