<template>
    <div :id="id" class="alert" :class="blockClasses" role="alert" v-if="shouldDisplay()">
        <slot :closeAlert="closeAlert"></slot>

        <button v-if="dismissable && showCloseButton" type="button" class="close" @click="closeAlert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</template>

<script>
    export default {
        props: {
            id: {
                type: String,
                required: true
            },
            type: {
                type: String,
                default: 'info'
            },
            dismissable: {
                type: Boolean,
                default: false
            },
            showCloseButton: {
                type: Boolean,
                default: true
            },
            stateful: {
                type: Boolean,
                default: false
            }
        },
        computed: {
            blockClasses() {
                let classes = {
                    'alert-dismissible fade show': this.dismissable,
                };

                classes[`alert-${this.type}`] = true;

                return classes;
            },
            componentKey() {
                return `alert:${this.id}`;
            }
        },
        methods: {
            closeAlert() {
                $(document).ready(() => {
                    $(`#${this.id}`).alert('close');

                    if(this.stateful) {
                        localStorage.setItem(this.componentKey, 'closed');
                    }
                });
            },
            shouldDisplay() {
                if(!this.stateful) {
                    return true;
                }

                let hist = localStorage.getItem(this.componentKey);

                return hist !== 'closed';
            }
        }
    }
</script>
