<template>
    <div>
        <table class="table" :class="tableClasses">
            <thead :ref="headerId">
            <tr>
                <slot name="header"></slot>
            </tr>
            </thead>
            <draggable v-model="mItems" tag="tbody" @update="itemsReordered">
                <template v-if="mItems && mItems.length">
                    <tr v-for="item in mItems" :key="item.id">
                        <slot name="row" :item="item"></slot>
                    </tr>
                </template>
                <template v-else>
                    <tr>
                        <td :colspan="colSpan">
                            No auction items to display.
                        </td>
                    </tr>
                </template>
            </draggable>
        </table>
    </div>
</template>

<script>
    import draggable from 'vuedraggable';

    export default {
        components: {draggable},
        props: {
            items: {
                type: Array,
                required: true
            },
            tableClasses: {
                type: String
            }
        },
        data() {
            return {
                mItems: this.items,
                randomId: Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15),
                colSpan: 0
            };
        },
        computed: {
            headerId() {
                return `header-${this.randomId}`;
            }
        },
        watch: {
            items: {
                deep: true,
                handler(items) {
                    this.mItems = items;
                }
            }
        },
        mounted() {
              this.setColSpan();
        },
        methods: {
            setColSpan() {
                let header = this.$refs[this.headerId];

                if(!header) {
                    return 0;
                }

                let row = header.getElementsByTagName('tr')[0];

                this.colSpan = row.cells.length;
            },
            itemsReordered(event) {
                this.$emit('reordered', {
                    idList: this.mItems.map(item => item.id)
                });
            }
        }
    }
</script>
