<template>
    <div>
        <input type="text" :class="inputClass" :id="id">
        <input type="hidden" v-model="pickerValue" :name="name">
    </div>
</template>

<script>
    import _ from 'lodash';
    import flatpickr from "flatpickr";
    import 'flatpickr/dist/flatpickr.css';

    export default {
        props: {
            name: {
                required: true,
                type: String
            },
            id: {
                required: true,
                type: String
            },
            inputClass: {
                type: String
            },
            config: {
                type: Object,
                default() {
                    return {};
                }
            }
        },
        data() {
            return {
                pickerValue: null
            }
        },
        mounted() {
            let opts = {
                enableTime: true,
                dateFormat: 'Y-m-d H:i'
            };
            let finalOpts = _.merge(opts, this.config);

            finalOpts['onChange'] = (selectedDates, dateStr, instance) => {
                this.pickerValue = `${dateStr + ':00'}`;
            };

            flatpickr(`#${this.id}`, finalOpts);
        }
    }
</script>