$text-sizes: (
    1: 1rem,
    1_5: 1.5rem,
    2: 2rem,
    2_5: 2.5rem,
    3: 3rem,
    4: 4rem
);

@each $key, $value in ($text-sizes) {
    .text-size-#{$key} {
        font-size: $value;
    }
}
