<template>
    <modal :id="id">
        <template #default="slotProps">
            <div class="modal-header">
                <h5 class="modal-title">{{vendor.name}}</h5>
                <button @click="slotProps.closeModal" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" @submit.prevent="updateVendor(slotProps.closeModal)" method="POST">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3" for="name">Family</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="family" v-model="forms.vendor.family" id="family">
                                <option :value="null">Select School Family</option>
                                <option :value="family.id" v-for="family in mSchoolFamilies">
                                    {{family.display_name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3" for="status">Status</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="family" v-model="forms.vendor.status" id="status">
                                <option :value="null">Select Vendor Status</option>
                                <option :value="status.id" v-for="status in vendorStatuses">{{status.name}}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn" type="button" @click="slotProps.closeModal">Cancel</button>
                <button class="btn btn-primary" @click="updateVendor(slotProps.closeModal)" :disabled="http.updateVendor">
                    <span v-if="!http.updateVendor">Update</span>
                    <span v-else>Updating...</span>
                </button>
            </div>
        </template>
    </modal>
</template>

<script>
    import _ from 'lodash';

    export default {
        props: {
            id: {
                required: true
            },
            vendor: {
                type: Object,
                required: true
            },
            auction: {
                type: Object,
                required: true
            },
            vendorStatuses: {
                type: Array,
                required: true
            },
            schoolFamilies: {
                type: Array,
                required: true
            }
        },
        data() {
            return {
                http: {
                    updateVendor: false
                },
                forms: {
                    vendor: {
                        family: null,
                        status: null
                    }
                }
            }
        },
        computed: {
            mSchoolFamilies() {
                return this.schoolFamilies.map(f => {
                    let parts = [];

                    parts.push(f.family_last_name);

                    if (f.first_parent_name) {
                        parts.push(f.first_parent_name);
                    }

                    if (f.second_parent_name) {
                        parts.push(f.second_parent_name);
                    }

                    if (parts.length === 3) {
                        let first_two = parts.slice(0, 2).join(', ');
                        let last_parent = parts.slice(2);

                        f.display_name = `${first_two} & ${last_parent}`;
                    } else if (parts.length === 2) {
                        let first_two = parts.slice(0, 2).join(', ');

                        f.display_name = first_two;
                    } else {
                        f.display_name = f.family_last_name;
                    }

                    return f;
                });
            }
        },
        watch: {
            vendor(data) {
                let family = _.get(data, 'school_family.id', null);
                let status = _.get(data, 'status.id', null);

                this.forms.vendor.family = family;
                this.forms.vendor.status = status;
            }
        },
        methods: {
            updateVendor(cb) {
                if (this.http.updateVendor) {
                    return;
                }

                this.http.updateVendor = true;
                let data = {};

                Object.keys(this.forms.vendor).forEach((k) => {
                    if (this.forms.vendor.hasOwnProperty(k)) {
                        data[k] = this.forms.vendor[k];
                    }
                });

                this.$http.put(`/ajax/auctions/${this.auction.id}/vendors/${this.vendor.id}`, data).then(res => {
                    this.$bus.$emit(`auction-vendors:updated`, {
                        auction_id: this.auction.id,
                        vendor_id: this.vendor.id
                    });

                    cb();
                }).catch(err => {
                    console.log(err.response);
                }).finally(() => {
                    this.http.updateVendor = false;
                });
            }
        }
    }
</script>
