<template>
    <modal :id="id" size="lg">
        <template #default="slotProps">
            <div class="modal-header">
                <h5 class="modal-title">Auction Vendors</h5>
                <button @click="slotProps.closeModal" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-table">
                <div class="row">
                    <div class="col">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" @change="toggleAll">
                                </th>
                                <th>Name</th>
                                <th>Contact</th>
                                <th>Address</th>
                            </tr>
                            </thead>
                            <tbody>
                                <template v-if="vendors && vendors.length">
                                    <tr v-for="vendor in vendors">
                                        <td>
                                            <input type="checkbox" v-model="selectedVendors" :value="vendor.id">
                                        </td>
                                        <td>{{vendor.name}}</td>
                                        <td>{{vendor.contact_name}}</td>
                                        <td>{{vendor.address}}</td>
                                    </tr>
                                </template>
                                <tr v-else>
                                    <td colspan="4">No vendors remain to be registered.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" type="button" @click="slotProps.closeModal">Cancel</button>
                <button class="btn btn-primary" @click="registerVendors" :disabled="http.registerVendors">
                    <span v-if="!http.registerVendors">Update</span>
                    <span v-else>Updating...</span>
                </button>
            </div>
        </template>
    </modal>
</template>

<script>
    export default {
        props: {
            id: {
                required: true,
                type: String
            },
            vendors: {
                required: true,
                type: Array,
                default() {
                    return []
                }
            },
            auction: {
                require: true,
                type: Object
            }
        },
        data() {
            return {
                http: {
                    registerVendors: false
                },
                selectedVendors: []
            }
        },
        methods: {
            registerVendors() {
                if(this.http.registerVendors) {
                    return;
                }

                let data = {
                    'vendor_ids': this.selectedVendors
                };

                this.http.registerVendors = true;
                this.$http.post(`/ajax/auctions/${this.auction.id}/vendor-registrations`, data).then(res => {
                    location.reload();
                }).catch(err => {
                    console.log(err);
                }).finally(() => {
                    this.http.registerVendors = false;
                });
            },
            toggleAll(val) {
                let selectedVal = val.target.checked;

                if(selectedVal) {
                    this.selectedVendors = this.vendors.map(v => v.id);
                } else {
                    this.selectedVendors = [];
                }
            }
        }
    }
</script>
