<template>
    <modal :id="modalId" size="lg">
        <template #default="slotProps">
            <div class="modal-header">
                <h5 class="modal-title">Choose Donations</h5>
                <button @click="slotProps.closeModal" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-table">
                <table class="table table-hover table-nsca">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Qty</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>ID</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="donation in donations">
                        <td>
                            <input v-if="selectable(donation)" type="checkbox" v-model="modalDonations" :value="donation.id">
                        </td>
                        <td :class="{'text-muted': !selectable(donation)}">{{donation.name}}</td>
                        <td :class="{'text-muted': !selectable(donation)}">{{donation.qty_available}}</td>
                        <td :class="{'text-muted': !selectable(donation)}">{{donation.type ? donation.type.name : ''}}</td>
                        <td :class="{'text-muted': !selectable(donation)}">{{donation.description}}</td>
                        <td :class="{'text-muted': !selectable(donation)}">{{donation.id}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn" type="button" @click="slotProps.closeModal">Cancel</button>
                <button class="btn btn-primary" @click="updateSelection(slotProps.closeModal)">Update</button>
            </div>
        </template>
    </modal>
</template>

<script>
    export default {
        props: {
            modalId: {
                required: true
            },
            donations: {
                required: true,
                type: Array
            },
            selectedDonations: {
                required: true,
                type: Array
            }
        },
        data() {
            return {
                modalDonations: this.selectedDonations
            }
        },
        watch: {
            selectedDonations(donations) {
                if(donations && donations.length) {
                    this.modalDonors = donations;
                }
            }
        },
        methods: {
            updateSelection(cb) {
                this.$emit('update-donation-selection', this.modalDonations);
                this.modalDonations = [];

                cb();
            },
            selectable(donation) {
                return donation.qty === null || donation.qty_available > 0;
            }
        }
    }
</script>
