<template>
    <div>
        <slot :triggerModal="triggerModal">
            <button @click="triggerModal" class="btn btn-primary">Open Modal</button>
        </slot>
    </div>
</template>

<script>
    export default {
        props: {
            target: {
                required: true,
                type: String
            }
        },
        methods: {
            triggerModal() {
                this.$bus.$emit('modal:open', {
                    modal: this.target
                });
            }
        }
    }
</script>
