<template>
    <div class="modal fade" :id="id" tabindex="-1" role="dialog">
        <div class="modal-dialog nsca-modal" :class="modalClasses" role="document">
            <div class="modal-content">
                <slot :closeModal="closeModal"></slot>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            id: {
                required: true,
                type: String
            },
            size: {
                required: false,
                type: String
            },
            scrollable: {
                required: false,
                type: Boolean,
                default: false
            }
        },
        computed: {
            modalSize() {
                return `modal-${this.size ? this.size : 'md'}`;
            },
            modalClasses() {
                let data = {};
                data[this.modalSize] = true;

                if(this.scrollable) {
                    data['modal-dialog-scrollable'] = true;
                }

                return data;
            }
        },
        methods: {
            closeModal() {
                this.$bus.$emit('modal:close', {
                    modal: `#${this.id}`
                });
            }
        }
    }
</script>
