<template>
    <modal :id="modalId">
        <template #default="slotProps">
            <div class="modal-header">
                <h5 class="modal-title">Create Donor</h5>
                <button @click="slotProps.closeModal" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="alert alert-danger" role="alert" v-if="formErrors">
                            <ul class="mb-0">
                                <template v-for="(errors, key) in formErrors">
                                    <li v-for="e in errors">{{e}}</li>
                                </template>
                            </ul>
                        </div>
                        <form @submit="createDonor(slotProps.closeModal)">
                            <div class="form-group row">
                                <label for="name" class="col-form-label col-sm-3">Name</label>
                                <div class="col-sm-9">
                                    <input v-model="form.name" type="text" class="form-control" name="name"
                                           placeholder="John Doe" id="donor_name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="name" class="col-form-label col-sm-3">Email</label>
                                <div class="col-sm-9">
                                    <input v-model="form.email" type="email" class="form-control" name="email"
                                           placeholder="johndoe@email.com" id="donor_email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="name" class="col-form-label col-sm-3">Phone</label>
                                <div class="col-sm-9">
                                    <input v-model="form.phone" type="tel" class="form-control" name="phone"
                                           placeholder="(123)456-7899" id="donor_phone">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" type="button" @click="slotProps.closeModal">Cancel</button>
                <button class="btn btn-primary" @click="createDonor(slotProps.closeModal)" :disabled="http.createDonor">
                    <span v-if="!http.createDonor">Create</span>
                    <span v-else>Creating...</span>
                </button>
            </div>
        </template>
    </modal>
</template>

<script>
    import _ from 'lodash';

    export default {
        props: {
            modalId: {
                required: true
            }
        },
        data() {
            return {
                http: {
                    createDonor: false
                },
                form: {
                    name: null,
                    email: null,
                    phone: null
                },
                formErrors: null
            }
        },
        methods: {
            resetForm() {
                for(let k in this.form) {
                    this.form[k] = null;
                }
            },
            createDonor(cb) {
                if (this.http.createDonor) {
                    return;
                }

                this.http.createDonor = true;
                this.formErrors = null;

                this.$http.post('/ajax/donors', this.form).then(res => {
                    this.$emit('created-donor', {name: this.form.name});
                    this.resetForm();
                    cb();
                }).catch(res => {
                    let errors = _.get(res, 'response.data.errors');

                    if (errors) {
                        this.formErrors = errors;
                    }
                }).finally(() => {
                    this.http.createDonor = false;
                });
            }
        }
    }
</script>
