<template>
    <modal :id="id">
        <template #default="slotProps">
            <div class="modal-header">
                <h5 class="modal-title">Import Vendor Spreadsheet</h5>
                <button @click="slotProps.closeModal" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <form method="POST" ref="form" :action="formAction" enctype="multipart/form-data">
                            <input type="hidden" name="_token" :value="tokenValue">
                            <div class="form-group">
                                <label for="file">Vendor File</label>
                                <input type="file" id="file" name="file" class="form-control-file">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" type="button" @click="slotProps.closeModal">Cancel</button>
                <button class="btn btn-primary" @click="importVendors">
                    <span>Upload</span>
                </button>
            </div>
        </template>
    </modal>
</template>

<script>
    export default {
        props: {
            id: {
                required: true,
                type: String
            }
        },
        computed: {
            formAction() {
                return `/vendor-imports`;
            },
            tokenValue() {
                return window.Laravel.csrfToken;
            },
        },
        methods: {
            importVendors() {
                this.$refs.form.submit();
            }
        }
    }
</script>